html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #45badd;
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./200.webp");
  background-size: contain;
  background-position: center;
}

button {
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: black;
  background: yellow;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 20px 10px rgba(0, 0, 0, 0.2);
}
button:hover {
    filter:brightness(95%);

}
button:active {
    transform: scale(0.98);
}

button:disabled {
    cursor: default;
    filter: brightness(30%);
}
/*Media Query tablet or smaller*/
@media screen and (max-width: 1000px) {
  .container {
    background-position: center center;
    background-size: cover;
  }
  button {
      box-shadow: 5px 5px 30px 20px rgba(0, 0, 0, 0.5);
  }
}
